#title {
    margin: 10px;
}

#numberOfSquares {
    margin: 10px;
}

#container {
    margin: 10px;
    display: flex;
    background-color: grey;
    padding: 0px;
    border: 0px solid red;
    flex-wrap: wrap;
    width: 800px;
    border: 1px solid black;
}

.divGrid {
    /* flex: 1; */
    background-color: white;
    width: 25px;
    height: 25px;
    margin: 0px;
}

.newBackGroundColor{
    background-color: black;
}